

.main {
  /* background-color: #0070f3; */
  height:100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center{
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  

}